// Esquema de cores
$corPrincipal: #fff;
$corBody: #f5f6fa;
$corBlue: #182C61;
$corGreen: #44bd32;
$corGreenLight: #4cd137;

// fontes
$fontPrincipal: Roboto, sans-serif;

// Breakpoints

$smartMobile: 767px;
$smartTablet: 1023px;